/* Reset some default styles */
body, h1, h2, p, form {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px; /* Add 50px padding to the left and right */
  }
  
  /* Style the header */
  header {
    display: flex;
    justify-content: space-between;
    background-color: white; /* Set the navigation bar to white */
    color: #000; /* Set text color to black */
    font-family: 'Average', sans-serif; /* Set the font to 'Average' */
    padding: 10px 20px;
  }
  
  .header-left {
    display: flex;
    align-items: center;
  }
  
  .header-right a {
    text-decoration: none;
    color: #000; /* Set link text color to black */
    margin: 0 10px;
  }
  

  
  
