/* Reset some default styles */
body, h1, h2, p, form {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px; /* Add 50px padding to the left and right */
}
 /* Style the header */
 
  header {
    display: flex;
    justify-content: space-between;
    background-color: white; /* Set the navigation bar to white */
    color: #000; /* Set text color to black */
    font-family: 'Average', sans-serif; /* Set the font to 'Average' */
    padding: 10px 20px;
  }
  
  .header-left {
    display: flex;
    align-items: center;
  }
  
  .header-right a {
    text-decoration: none;
    color: #000; /* Set link text color to black */
    margin: 0 10px;
  }

  /* Additional styling for the contact form */

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }

  h2 {
    padding-top: 100px;
    padding-bottom: 20px;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  textarea {
    width: 300px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #555;
  }

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .header-right {
    margin-top: 10px;
    flex-direction: column;
    text-align: center;
  }

  .header-right a {
    margin: 5px 0;
  }

  .container {
    padding: 0 20px; /* Adjust padding for smaller screens */
  }

  form {
    padding: 10px; /* Adjust padding for smaller screens */
  }

  h2 {
    padding-top: 50px; /* Adjust padding for smaller screens */
    padding-bottom: 10px; /* Adjust padding for smaller screens */
    font-size: 24px; /* Adjust font size for smaller screens */
  }

  input[type="text"],
  textarea {
    width: 100%; /* Make input fields and textarea full width */
    max-width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box; /* Include padding in the total width */
  }

  input[type="submit"] {
    width: 100%; /* Make the submit button full width */
    max-width: 100%;
  }
}
  